# Database Configuration (Docker network mapping)
DATABASE_URL=postgres://ig_user:ig_secret_password@immogucker_pg_db:5432/immogucker_db?sslmode=disable

# SMTP Configuration for Email Notifications
# Example for Gmail: smtp.gmail.com / 587
# Example for Yahoo: smtp.mail.yahoo.com / 587
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_specific_password_here
